.chat {
    margin: 1rem;
    padding: 2rem 3rem;
    font-size: 1.2rem;
    text-align: justify;
}

.chatImg {
    object-fit: cover;
    margin-right: 2rem;
    border-radius: 0.5rem;
}

.chatbot {
    margin: 1rem;
    padding: 2rem 3rem;
    font-size: 1.2rem;
    /* display: flex;
    align-items: flex-start; */
    text-align: justify;
    background: rgba(28, 30, 58, 1);
    width: fit-content;
    border-radius: 0.5rem;
}

.wrapper{
    display: flex;
    padding-bottom: 1rem;
}

.txt {
    margin-top: 0.5rem;
}

.imgPrompt {
    margin-left: calc(56px + 2rem);
    border-radius: 25%;
}